[Desktop Entry]
Version=1.0
Name=LYNX Core
Comment=LYNX P2P Cryptocurrency
Comment[fr]=LYNX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LYNX, eşten eşe kriptografik sanal para birimi
Exec=lynx-qt %u
Terminal=false
Type=Application
Icon=lynx128
MimeType=x-scheme-handler/lynx;
Categories=Office;Finance;
StartupWMClass=Lynx-qt
